
.bg-body-tertiary1{
    background: var(--bg-color);
    color: var(--text-color);
    /* overflow: visible; */
}
.flip-box {
    display: inline-block;
    perspective: 1000px;
  }
  
  .airdrop {
    display: inline-block;
    font-size: 1.2rem;
    padding: 12px 24px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform-origin: center;
    backface-visibility: hidden;
    transition: transform 0.6s ease;
  }
  
  /* Flip animation triggered by a class */
  .airdrop.flip {
    animation: flipHeadline 1s ease forwards;
  }
  
  @keyframes flipHeadline {
    0% {
      transform: rotateX(0deg);
    }
    50% {
      transform: rotateX(90deg);
    }
    100% {
      transform: rotateX(0deg);
    }
  }
  


.nav-margin{
    margin-right: 100px;
}
li a{
    font-size: 1rem;
    margin-right: 41px !important;
}
li a:hover{
    border: 1px solid #00dd02;
}
.text-dropdown{
  color: rgb(255 255 255 / 55%);
  margin-right: 41px !important;
}
.text-dropdown:hover{
  color: var(--text-color);
  border: 1px solid #00dd02;
}
/* Enable dropdown on hover */
.hover-dropdown:hover > .dropdown-menu {
  display: block;
  margin-top: 0; /* removes the animation jump */
}
.text-dark1{
  color: var(--bg-color);
}
.text-dark1:hover{
  color: var(--text-color);
  background-color: rgb(13 110 253);
  border: none;
}

/* .dropdown-menu .dropdown-item {
  padding: 0.25rem 1rem;
} */


.text-connect{
  color: #00dd02;
}
.address{
  color: var(--bg-color);
}
.text-muted{
  color: var(--text-color) !important;
}

@media (max-width: 576px) {
  .dropdown-menu-media {
    min-width: 100% !important;
    left: 0 !important;
    transform: none !important;
  }
}
